<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">  
                
<li  data-toggle="collapse" data-target="#individual" class="collapsed active">
                  <a href="#"> Individual <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="individual">
    <li><a href="/topic/Topic_97">Baron Krelas Ugarak</a></li>

    <li><a href="/topic/Topic_105">Hadutha</a></li>

    <li><a href="/topic/Topic_108">Fire Giant</a></li>

    <li><a href="/topic/Topic_109">Ironmonger</a></li>

    <li><a href="/topic/Topic_111">Foreman Hellbrun</a></li>
</ul>
<li  data-toggle="collapse" data-target="#scene" class="collapsed active">
                  <a href="#"> Scene <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="scene">
    <li><a href="/topic/Topic_126">Rallying Cry</a></li>
</ul>
<li  data-toggle="collapse" data-target="#adventureArea" class="collapsed active">
                  <a href="#"> Adventure Area <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="adventureArea">
    <li><a href="/topic/Topic_127">Molten Vault</a></li>
</ul>
<li  data-toggle="collapse" data-target="#generalTopic" class="collapsed active">
                  <a href="#"> General Topic <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="generalTopic">
    <li><a href="/topic/Topic_129">Session 1</a></li>
</ul>
<li  data-toggle="collapse" data-target="#storySource" class="collapsed active">
                  <a href="#"> Story Source <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="storySource">
    <li><a href="/topic/Topic_130">Cloud Giants Bargain</a></li>
</ul>
            </ul>
     </div>
</div>