<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
<div class="row">
    <div class="col-lg-2">
        <header>
            <% include ../partials/header %>
        </header>
    </div>
    <div class="col-lg-8">
        <main id="content">
<!--  This is what gets 'replaced' -->
    <div class="panel panel-default">
        <div class="panel-heading">
            CarnageCon2016
        </div>
        <div class="panel-body">
            <h3>1. Overview</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 1
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 2
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 3
                </div>
            </div>
        </div>
         <div class="panel-body">
            2. Description
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 1
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 2
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content 3
                </div>
            </div>
        </div>
   </div>

<!-- -->
        </main>
    </div>
    <div class="col-lg-2">
        <section>
            Links
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>      
</div>
</body>
</html>